@charset "UTF-8";

$color-white: #fff;
$color-black: #35495e;
$color-blue: #8ecfe0;
$color-blue-dark: #00acc1;
$color-gray-light: #efefef;
$color-gray-dark: #607d8b;

$font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, arial;
