@charset "UTF-8";
@import './_variables.scss';
@import './_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;600&display=fallback');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://example.com/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
  // url('https://example.com/MaterialIcons-Regular.woff2') format('woff2'),
  // url('https://example.com/MaterialIcons-Regular.woff') format('woff'),
  // url('https://example.com/MaterialIcons-Regular.ttf') format('truetype');
}

/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
}

body {
  width: 100%;
  font-size: 18px;
  font-family: $font-family;
  color: $color-black;
  background-color: $color-blue;
  line-height: 1.4em;
  letter-spacing: 1px;
}

#root {
  padding: 20px 10px;
}

.before-font-material::before {
  font-size: 24px;
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  white-space: nowrap;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizelegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@keyframes pie-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes pie-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.pie-chart {
  &__circle { 
    transform: rotate(-90deg);
    animation: pie-chart-fill 2s reverse;
    transform-origin: center;
  }

  &__info {
    opacity: 0;
    transform: translateY(0.3em);
    animation: pie-chart-appear 2s forwards;
  }

  &__percent {
    fill: $color-black;
    font-weight: 700;
  }
}

.bar-chart {
  &__column {
    fill: $color-blue-dark;
    transition: fill 0.4s ease;

    @media screen and (min-width: 1025px) {
      &:hover {
        fill: $color-gray-dark;
      }
    }
  }

  &__text {
    pointer-events: none;
  }
}

.bouncing-animation {
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-animation_delay-2 {
  animation-delay: 0.2s;
}

.bouncing-animation_delay-4 {
  animation-delay: 0.4s;
}
